*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 90, 252);
    font-family: 'karla', sans-serif;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color: beige;
    width: 30vw;
    height: 60vh;
    border-radius: 1em;
}